# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Terraform State files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Module directories
.terraform/

# Terraform plan files
*.tfplan

# Sensitive data
terraform.tfvars

# Lock file
.terraform.lock.hcl

# Directory for CLI configuration backups
*.backup

# Local .terraform directories
**/.terraform/*

# Ignore .env files, often used for local environment variables
.env

# Ignore .txt files
*.txt

# Ignore todo-cli file
todos.json
