.container {
  text-align: center;
  min-width: 30vw;
  background: linear-gradient(
    150.26deg,
    rgb(23 85 83 / 0.7) 1.7%,
    rgb(67 217 173 / 0.091) 81.82%
  );
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(12 22 22 );
}

.container > div > div h5 {
  color: rgb(1 12 21 ) !important;
  box-shadow: none !important;
  font-weight: 500 !important;
  font-size: 1rem;
}

.container > div > div span {
  color: rgb(1 12 21 ) !important;
  box-shadow: none !important;
  font-weight: 500 !important;
  font-size: 1rem;
}

.container > div > div > div > div {
  width: 7rem !important;
}

.container h2 {
  font-weight: 400;
  font-size: 2rem;
}

@media (max-width: 1250px) {
  .container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: 82vw;
  }
}
