.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 3 / -1;
  height: 69.4vh;
  overflow: auto;
}

.functions-list {
  margin-left: 60px !important;
  color: #fea55f;
}

.item-title {
  color: #4d5bce !important;
}

.item-title-value {
  color: #fea55f;
}