.container {
  grid-column: 3 / -1;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

form {
  display: flex;
  position: relative;
  text-align: left;
  flex-direction: column;
  align-items: start;
  color: white;
  margin: 0 auto;
}

form input,
textarea {
  border: 1px solid rgb(30 45 61 );
  background: rgb(1 18 33 );
  border-radius: 0.5rem;
  padding: 0.8rem;
  color: rgb(96 123 150 );
  width: 22rem;
}

form input:focus,
textarea:focus {
  outline: 1px solid rgb(96 123 150 );
}

form label,
input,
textarea {
  display: block;
}

form label {
  color: rgb(96 123 150 );
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

form button {
  background: rgb(28 43 58 );
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  color: rgb(255 255 255 );
  padding: 0.5rem 1rem;
  border: 1px solid rgb(30 45 61 );
  font-weight: 450;
  line-height: 18px;
  letter-spacing: 0em;
  cursor: pointer;
  transition: 0.5s ease;
}

form button:hover {
  color: rgb(28 43 58 );
  background: #fea55f;
}

@media (max-width: 1250px) {
  code {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }

  form {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1050px) {
  .container {
    grid-column: 1/-1;
  }

  .aside {
    grid-column: 1/-1;
  }
}
