.button {
  background: rgb(28 43 58 / 1);
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  color: rgb(255 255 255 / 1);
  padding: 0.5rem 1rem;
  border: 1px solid rgb(30 45 61 / 1);
  font-weight: 450;
  line-height: 18px;
  letter-spacing: 0em;
  cursor: pointer;
  transition: 0.5s ease;
}

.button:hover {
  color: rgb(28 43 58 / 1);
  background: #fea55f;
}

.container {
  text-align: center;
  color: white;
}

.container p:first-child {
  font-size: 2rem;
}

@media (max-width: 1250px) {
  .container {
    margin-bottom: 150px;
  }
}
