.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  justify-items: center;
  align-items: center;
  grid-column: 1 / -1;
}

.tittle span:first-of-type {
  color: #4d5bce !important;
}

.tittle span {
  color: rgba(67, 217, 173, 1) !important;
}

.container h1 {
  font-size: 4rem;
  font-weight: 300;
}

.frontTittle {
  font-size: 1.5rem;
  color: #4d5bce;
}

.tittle div:first-child {
  margin-bottom: 4rem;
}

.gitLink {
  text-decoration: none;
  color: #e99287;
}

.gitLink:hover {
  text-decoration: underline;
}

@media (max-width: 1250px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 2rem;
    text-align: center;
  }
}
