.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  justify-items: center;
  align-items: center;
}

.container h1 {
  font-size: 4rem;
  font-weight: 300;
}

.tittle {
  margin-bottom: 3rem;
}

.frontTittle {
  font-size: 1.5rem;
  color: #4d5bce;
}

.gitLink {
  text-decoration: none;
  color: gray;
}
