@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.app {
  margin: 4%;
  background-color: #011627;
  border: 1px solid #1e2d3d;
  border-radius: 0.5em;
}

.app-main {
  min-height: 71vh;
  background-color: #011627;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.anime-left {
  opacity: 0;
  transform: translateX(-20px);
  animation: anime-moove 0.5s forwards;
}

.anime-right {
  opacity: 0;
  transform: translateX(20px);
  animation: anime-moove 0.5s forwards;
}

.anime-top {
  opacity: 0;
  transform: translateY(-20px);
  animation: anime-moove 0.5s forwards;
}

.anime-down {
  opacity: 0;
  transform: translateY(20px);
  animation: anime-moove 0.5s forwards;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: border-bottom 0.5s ease;
  border-bottom: solid 3px #fea55f;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #607b96;
  border-radius: 0.5rem;
}

@keyframes anime-moove {
  to {
    opacity: 1;
    transform: initial;
  }
}