@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0px;
  background-color: #01080e;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.app {
  margin: 4%;
  background-color: #011627;
  border: 1px solid #1e2d3d;
  border-radius: 0.5em;
}

.appMain {
  min-height: 71vh;
  background-color: #011627;
  backdrop-filter: blur(25px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeMoove 0.5s forwards;
}

.animeRight {
  opacity: 0;
  transform: translateX(20px);
  animation: animeMoove 0.5s forwards;
}

.animeTop {
  opacity: 0;
  transform: translateY(-20px);
  animation: animeMoove 0.5s forwards;
}

.animeDown {
  opacity: 0;
  transform: translateY(20px);
  animation: animeMoove 0.5s forwards;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: solid 3px #fea55f;
  animation: border_anim linear forwards;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes animeMoove {
  to {
    opacity: 1;
    transform: initial;
  }
}
